*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Clase01/PedidoApp/nbproject/private/
/Clase01/PedidoApp/build/
/Clase02/AprendiendoJava/nbproject/private/
/Clase02/AprendiendoJava/build/
/Clase03/PagoApp/nbproject/private/
/Clase03/PagoApp/build/
/Clase03/EduTecLib/nbproject/private/
/Clase03/EduTecLib/build/
/Clase03/EduTecLib/dist/
/Clase03/EduTecDemo/nbproject/private/
/Clase03/EduTecDemo/build/
/Clase04/AprendiendoJava/nbproject/private/
/Clase04/AprendiendoJava/build/
/Clase04/Matematica/nbproject/private/
/Clase04/Matematica/build/
/Clase05/AprendiendoJava/nbproject/private/
/Clase05/AprendiendoJava/build/
/Clase06/Comprobante/nbproject/private/
/Clase06/Comprobante/build/